header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: hsla(0, 0%, 100%, 0.7);
  // box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
  // background-color: #fff;
  //   color: hsla(0, 0%, 100%, 0.7);
  #navigation-bar {
    width: 100%;
    max-width: 71.25rem;
    height: 40px;
    margin: 0 auto;
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-weight: 600;
      cursor: pointer;
    }
    .menu-section {
      display: flex;
      align-items: center;
      .menu {
        cursor: pointer;
        font-weight: 600;
        font-size: large;
        padding: 0 30px;
      }
    }
  }
}

#nav-color-nonactive {
  background-color: transparent;
  .navigation:hover {
    color: #fff;
  }
}
#nav-color-active {
  background-color: #fff;
  color: black;
  .navigation:hover {
    color: orange;
  }
}

// span
