@import "../../Common.scss";
header {
  display: block;
  @include positionBox(fixed, 0, _, _, 0);
  width: 100%;
  z-index: 10;
  color: hsla(0, 0%, 100%, 0.7);
  #navigation-bar {
    @include widthHeight(100%, 40px);
    @include marginPadding(0 auto, 1.25rem 2rem);
    @include flexBox(flex, space-between, center, _);
    max-width: 71.25rem;
    .logo {
      font-weight: 600;
      cursor: pointer;
    }
    .menu-section {
      display: flex;
      align-items: center;
      .menu {
        cursor: pointer;
        @include fontStyle(_, _, large, 600);
        padding: 0 30px;
      }
    }
  }
}

#nav-color-nonactive {
  background-color: transparent;
  .navigation:hover {
    color: #fff;
  }
}
#nav-color-active {
  background-color: #fff;
  box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
  color: black;
  .navigation:hover {
    color: orange;
  }
}

// span
