.link-card {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 26rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  .link-card-imgBox {
    width: 12rem;
    margin-bottom: 1rem;
  }
}
