@import "../../Common.scss";

.head-section {
  //   border: 1px solid red;
  text-align: center;
  position: relative;
  @include widthHeight(_, 30.5rem);
  @include flexBox(flex, space-evenly, center, column);
  padding: calc(4rem + 4.5rem) 2rem 4rem;
  color: #fff;
  &::before {
    content: "";
    @include positionBox(absolute, 0, 0, 0, 0);
    background: -moz-linear-gradient(
        top,
        rgba(112, 93, 80, 0.8) 0,
        rgba(112, 93, 80, 0.8) 90%
      ),
      url("../../assets/developer.jpg") 50% no-repeat;
    background: linear-gradient(
        180deg,
        rgba(112, 93, 80, 0.8) 0,
        rgba(112, 93, 80, 0.8) 90%
      ),
      url("../../assets/developer.jpg") 50% no-repeat;
    background: -o-linear-gradient(
        top,
        rgba(112, 93, 80, 0.8) 0,
        rgba(112, 93, 80, 0.8) 90%
      ),
      url("../../assets/developer.jpg") 50% no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .head-title-box {
    @include fontStyle(#fff, _, 2.5rem, 400);
  }
  .head-contents-box {
    @include fontStyle(hsla(0, 0%, 100%, 0.7), _, 1.4rem, 400);
  }
  #head-hr {
    border: 0;
    @include widthHeight(100%, 2.5px);
    background-image: linear-gradient(
      to right,
      rgba(253, 102, 0, 0.1),
      rgba(255, 102, 0, 0.75),
      rgba(255, 102, 0, 0.1)
    );
  }
  #head-btn {
    @include widthHeight(10em, 3em);
    display: inline-block;
    @include borderStyle(0, 10rem);
    background-color: #f4623a;
    @include fontStyle(#fff, _, 1.2rem, 400);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
}
