@import "../../Common.scss";

#skills-section {
  background: #f9c51d;
  .skills-sectionBox {
    width: 100%;
    max-width: 80.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    // height: 75rem;
    .section-title-container {
      @include flexBox(flex, center, center, _);
      .sk-color {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
      }
    }
    .skills-contents {
      width: 100%;
      @include flexBox(flex, center, space-around, _);
      //   @include flexBox(flex, _, space-around, _);
      flex-flow: row wrap;
      height: calc(100% - (7.5rem + 1px));
    }
  }
}
